footer {
    width: 100%;
    height: 6rem;
    background-color: #64BEFF;
    color: #fff;

}

.content-footer {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.top-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;

}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}