body {
    margin: 0;
    padding: 0;
    color: #6a6a6a;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 2rem;
}

@media screen and (max-width: 992px) {
    main {
        padding: 1rem;
    }
}